body{
  background-image: url(./background.jpg);
  background-size: cover;
  
}


div#title{
  
  width: 299px;
  height: 116px;
  left: 108px;
  top: 227px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 96px;
  line-height: 116px;
  color: #000000;

}

button#button1{
  position: absolute;
  width: 180px;
  height: 50px;
  left: 1069px;
  top: 60px;
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#0ba6ee 0%, #539ccc 100%);
  cursor: pointer;
}

button#button2{
  position: absolute;
  width: 180px;
  height: 50px;
  left: 1069px;
  top: 140px;
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(#0ba6ee 0%, #539ccc 100%);
  cursor: pointer;

}
  


