.top-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 850%;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.bg {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.border-back {
    position: absolute;
    left: 5.47%;
    right: 2.89%;
    top: 7.45%;
    bottom: 2.28%;
    border: 1px solid #000000;
}

.border-top {
    position: absolute;
    left: 2.42%;
    right: 4.92%;
    top: 4.33%;
    bottom: 4.69%;
    border: 3px solid #000000;
}

.warrior-pose {
    position: absolute;
    height: 50%;
    width: 30%;
    left: 70%;
    top: 54%;
    background-image: url(./warrior-pose.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.tree-pose {
    position: absolute;
    height: 75%;
    width: 35%;
    left: 65%;
    top: 35.5%;
    background-image: url(./tree-pose.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.log-io-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: auto;
    height: auto;
    right: 5%;
    top: 10%;
    padding: 0.25% 1%;
    font-size: 35px;
    cursor: pointer;
    color: #000000;
    border-bottom: 2px solid;
    font-weight: 300;
}

.my-page-btn {
    font-weight: 100;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: auto;
    height: auto;
    top: 10%;
    right: 5%;
    color: #000;
    font-size: 300%;
    text-decoration: none;
    border-radius: 0;
    font-weight: 200;
}

.my-page-btn:before,
.my-page-btn:after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #000;
}

.my-page-btn:before {
    top: 0;
    left: 0;
}

.my-page-btn:after {
    right: 0;
    bottom: 0;
}

.my-page-btn:hover::before,
.my-page-btn:hover:after {
    width: 0;
}

.start-yoga-btn {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 40%;
    left: 15%;
    width: 50%;
    display: flex;
    font-weight: 100;
    color: #000;
    text-shadow: 3px 3px 2px #000000;
    font-size: 800%;

    border-radius: 0;
}

.start-yoga-btn:before,
.start-yoga-btn:after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #000;
}

.start-yoga-btn:before {
    top: 0;
    left: 0;
}

.start-yoga-btn:after {
    right: 0;
    bottom: 0;
}

.start-yoga-btn:hover::before,
.start-yoga-btn:hover:after {
    width: 0;
}
