.Result {
    background-color: #fff;
}

.title {
    line-height: 2em;
    display: flex;
    justify-content: center;
    font-size: 1000%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    text-align: center;

    font-weight: bold;
    color: #000;
    text-shadow: 0 0 0.05em #fff59d, 0 0 0.06em #fff59d, 0 0 0.07em #fff59d,
        0 0 0.08em #fff59d, 0 0 0.09em #fff59d, 0 0 0.2em #fff59d,
        0 0 0.2em #fff59d, 0 0 0.2em #fff59d, 0 0 0.5em #fff59d;
}

.message {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 2.5em;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.button a {
    width: 30vw;
    height: 6vw;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 8px 8px 0 #000;
    box-shadow: 8px 8px 0 #000;

    display: flex;
    justify-content: space-evenly;
    color: #000;
    font-size: 200%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button a:hover {
    -webkit-box-shadow: -8px -8px 0 #000;
    box-shadow: -8px -8px 0 #000;
}
