.buttonparent {
    width: 20vw;
    height: 20vw;
    font-size: 200%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    border: 100% solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 8px 8px 0 #000;
    box-shadow: 8px 8px 0 #000;
}

.buttonparent:hover {
    -webkit-box-shadow: -8px -8px 0 #000;
    box-shadow: -8px -8px 0 #000;
}

.buttons1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vw;
}

.buttons2 {
    display: flex;
    justify-content: space-evenly;
}

.stages {
    background: white;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 30px;
}

.topleft {
    background: white;
}

.topcenter {
    background: white;
}

.topright {
    background: white;
}

.bottomleft {
    background: white;
}

.bottomcenter {
    background: white;
}

.bottomright {
    background: white;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: cursive;
}
